/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v1/gG8m82oGcrBJF727xHU04fY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v1/F4YWuALHubF63LLQPw0rMfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), local('Poppins-Regular'), url(../fonts/HLBysyo0MQBO_7E-DWLwzg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



body {
   width: 100%;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: 'Poppins', sans-serif;
 }



#body_{ background:#000; color:#fff;}
#cont1{ min-height: 1200px;}

.noMargBot{margin-bottom:0px;}
.noMargWid{margin-left:0!important; margin-right:0!important;}







        @media (min-width:1280px) {   }
        @media (min-width:1024px) AND (max-width:1280px) { }
        @media (min-width:768px) AND (max-width:1023px) {  }
        @media (min-width:600px) AND (max-width:799px) {   }
        @media (min-width:480px) AND (max-width:599px) {   }
        @media (min-width:320px) AND (max-width:479px) {   }




/*---------------head pre nav-------------------------*/


#slider_header_car{height:200px!important; }
        @media (min-width:1780px){  #slider_header_car{ height:690px!important;}  }
        @media (min-width:1580px) AND (max-width:1780px){  #slider_header_car{ height:820px!important;}  }
        @media (min-width:1480px) AND (max-width:1580px){  #slider_header_car{ height:790px!important;}  }
        @media (min-width:1360px) AND (max-width:1480px){  #slider_header_car{ height:720px!important;}  }
        @media (min-width:1280px) AND (max-width:1360px){  #slider_header_car{ height:700px!important;}  }
        @media (min-width:1024px) AND (max-width:1280px) { #slider_header_car{ height:555px!important;} }
        @media (min-width:768px) AND (max-width:1023px) {  #slider_header_car{ height:430px!important;} }
        @media (min-width:600px) AND (max-width:799px) {   #slider_header_car{ height:310px!important;}}
        @media (min-width:480px) AND (max-width:599px) {   #slider_header_car{ height:250px!important;} }
        @media (min-width:320px) AND (max-width:479px) {   #slider_header_car{ height:170px!important;}}


/**/
.cont_img_slider{width:100%;height:100%; display: block; margin: 0; padding: 0; float: left;}
/*#slider_header_car{width:100%!important; height:auto!important;}*/

.img_banner1{background: url("../img/banner_header/banner_01.jpg"); background-size:100%; background-repeat: no-repeat;}
.img_banner2{background: url("../img/banner_header/banner_01.jpg"); background-size:100%; background-repeat: no-repeat; }
.img_banner3{background: url("../img/banner_header/banner_01.jpg"); background-size:100%; background-repeat: no-repeat; }
.img_banner4{background: url("../img/banner_header/banner_01.jpg"); background-size:100%; background-repeat: no-repeat; }
.img_banner5{background: url("../img/banner_header/banner_01.jpg"); background-size:100%; background-repeat: no-repeat; }


#prev_header_car{font-size:40px; z-index:1; position:absolute; z-index:1; left:5px; color:#999;}
#next_header_car{font-size:40px; z-index:1; position:absolute; z-index:1; right:5px; color:#999; }
#prev_header_car:hover{ color:#fff; }
#next_header_car:hover{ color:#fff; }

















/*----------------nav------------------------*/

.img_logo_head{ width:300px; max-width: 300px; height:90px;}
.img_logo_head_mobile{ width:150px; display:none;  margin: 25px 0px 0px 0px;}
.img_logo_head_mobile{ display:block;}
/*@media (max-width: 1024px) {  .img_logo_head_mobile{ display:block;}   }*/
.button-collapse{margin-top: 10px;}
#logo_nav{width:300px;}

/*----------------nav fixed----------------*/
.nav_fixed_top{position:fixed; top:0px; display:block!important;}
.nav_off_top{position:relative; top:0px; display:none!important;}

/*-----------------------------------------*/

#nav_header_1{ background:#15181d; box-shadow: none; height:90px; line-height:90px; z-index: 999;}
#nav_header_1 .nav-wrapper{ }
#nav_header_1 .nav-wrapper .brand-logo{ width:1050px; height:90px; color: #fff; min-width:750px; z-index:99;}
#nav_header_1 .button-collapse{ color: #fff; }
#nav_desktop_cont a{ color: #ffdf1f; }
#nav_desktop_cont li{ width:150px; height:90px; }
#nav_desktop_cont li a:hover{background:none;}
#logo_nav{width:300px!important;}

.mobile-demo li{height:40px!important;}
.mobile-demo li a{height:40px;}

#nav_header_1 .side-nav { width:250px; background:#15181d; }
#nav_header_1 .side-nav .side-nav-link{ color:#ffdf1f; width:100%; }


.img_logo_head_mobile_sidenav{ width:150px; float: none; margin: 10px auto; display: block;}

/*-------------------------------------------*/

#icon_social_nav{  height: 100%; width: 100%; float: left; display: block; margin-left: 25px;}
#icon_social_nav div a{width:20px; float:left; margin: 0; padding: 0;   margin-left: 10px; color:#fff; font-size:18px;}
#icon_social_nav div a i{margin: 0!important; padding: 0!important; line-height:85px;}

/*-------------------------------------------*/

#icon_social_nav_mobile{  height: 100%; width: 100%; float: left; display: block; margin-left: 25px;}
#icon_social_nav_mobile div a{width:20px; float:left; margin: 0; padding: 0;   margin-left: 10px; color:#fff; font-size:18px; }
#icon_social_nav_mobile div a i{margin: 0!important; padding: 0!important; line-height:85px;}

/*----------------------------------------------------------------------*/
#cont_destacado_header{ width:100%;}
#cont_destacado_header ul{margin:0;}
#cont_destacado_header ul li{ margin:0; padding:0;}

.cont_destacado_header_moduloCont{ position:relative; background:#333; overflow:hidden;}
.cont_destacado_header_moduloCont a{ text-decoration: none; text-transform:none; color:#fff; float:left; display:block;}

.cont_destacado_header_moduloCont .cont_destacado_header_moduloCont_fondo_opacity{ width: 100%;  height: 100%; display: block; float: left; position: absolute;  top: 0;  left: 0; opacity: 0.5;}
.cont_destacado_header_moduloCont .cont_destacado_header_moduloCont_fondo_opacity0{ width: 100%;  height: 100%;  background:#338f29; display: block; float: left; position: absolute;  top: 0;  left: 0; opacity: 0.5;}
.cont_destacado_header_moduloCont .cont_destacado_header_moduloCont_fondo_opacity1{ width: 100%;  height: 100%;  background:#b2b22e; display: block; float: left; position: absolute;  top: 0;  left: 0; opacity: 0.5;}
.cont_destacado_header_moduloCont .cont_destacado_header_moduloCont_fondo_opacity2{ width: 100%;  height: 100%;  background:#9536ce; display: block; float: left; position: absolute;  top: 0;  left: 0; opacity: 0.5;}
.cont_destacado_header_moduloCont .cont_destacado_header_moduloCont_fondo_opacity3{ width: 100%;  height: 100%;  background:#f4206a; display: block; float: left; position: absolute;  top: 0;  left: 0; opacity: 0.5;}

.cont_destacado_header_moduloCont img{position:relative; width:120%!important;}
.cont_destacado_header_moduloCont .cont_info_destacado_header{ position: absolute; top: 0; left: 0; margin:20px 30px; height: calc(100% - 40px); width: calc(100% - 60px);}
.cont_destacado_header_moduloCont .cont_info_destacado_header .cont_destacado_header_moduloCont_item1{text-transform: capitalize; font-size: 14px; line-height: 20px; background: #333; display: block; float: left;  padding: 1px 10px; margin-left: 5px; margin-bottom: 5px; }
.cont_destacado_header_moduloCont .cont_info_destacado_header p{  display: block; float: left; font-size: 21px; line-height: 25px; font-weight: 500; }


        @media (min-width:1280px) {  .cont_destacado_header_moduloCont{ height:260px; transition: height 1s;}  }
        @media (min-width:1024px) AND (max-width:1280px) {
          .cont_destacado_header_moduloCont{ height:210px; transition: height 1s;}
          .cont_destacado_header_moduloCont .cont_info_destacado_header p{ font-size:18px; line-height: 20px; }
        }
        @media (min-width:768px) AND (max-width:1023px) { .cont_destacado_header_moduloCont{ height:180px; transition: height 1s;} }
        @media (min-width:600px) AND (max-width:799px) {  .cont_destacado_header_moduloCont{ height:200px; transition: height 1s;} }
        @media (min-width:480px) AND (max-width:599px) {
          .cont_destacado_header_moduloCont{ height:150px; transition: height 1s;}
          .cont_destacado_header_moduloCont .cont_info_destacado_header p{ font-size: 18px; line-height: 20px; font-weight: 400; width: 100%; height: 64px; overflow: hidden; }
        }
        @media (min-width:320px) AND (max-width:479px) {
          .cont_destacado_header_moduloCont{ height:150px; transition: height 1s;}
          .cont_destacado_header_moduloCont .cont_info_destacado_header p{ font-size: 18px; line-height: 20px; font-weight: 400; width: 100%; height:40px; overflow: hidden; }

        }




























/*-----------------------------modal video cont-------------------------*/

.modal_video_cont{ min-width:320px; height:400px; background:#ccc;}
.modal_video_cont img{width:100%; min-height:200px; height:auto; display: block; background:#333;}


#contSection{ width:100%; float:none; margin:50px auto;}

        @media (min-width:1280px) {  #contSection{ width:1280px; transition: width 1s;} }
        @media (min-width:1024px) AND (max-width:1280px) { #contSection{ width:1024px; transition: width 1s;} }
        @media (min-width:768px) AND (max-width:1023px) { #contSection{ width:800px; transition: width 1s;} }
        @media (min-width:600px) AND (max-width:799px) {  #contSection{ width:570px; transition: width 1s;} }
        @media (min-width:480px) AND (max-width:599px) { #contSection{ width:440px;  transition: width 1s;} }
        @media (min-width:320px) AND (max-width:479px) {  #contSection{ width:300px; transition: width 1s;} }


  /*-----------------------------------------*/

#contModalSubHead{ display:block; margin-top:0px; margin-bottom: 0px;}
    /*--------*/
    #contModalCategoria{  margin:0;padding:0;}

          #contCategoria1{ margin:0; padding:0;}
          #contCategoria2{ margin:0; padding:0;}

          .contGrandeCat{ position:relative; overflow: hidden; margin:0!important; padding:0!important; }
          .contGrandeCat a{ text-decoration: none; text-transform:none; color:#fff; float:left; display:block;}
          .contGrandeCat .contCat_fondo_opacity{ width: 100%;  height: 100%; background: #000; display: block;  float: left;  position: absolute;  top: 0; left: 0; opacity: 0.5;}
          /*.contGrandeCat .contCat_fondo_opacity:hover{ opacity: 0.0;}*/
          .contGrandeCat img{position:relative; width:140%!important;}
          .contGrandeCat .contInfoGrandeCat{ position: absolute; top: 0; left: 0; margin:20px 30px; height: calc(100% - 40px); width: calc(100% - 60px);}
          .contGrandeCat .contInfoGrandeCat h1{ font-size:45px; font-weight:bold;text-transform: capitalize;}
          .contGrandeCat .contInfoGrandeCat p{  float: left; margin: 0; padding: 0; line-height: 22px; font-size: 18px; font-weight: 300; width: 400px;}
          .contGrandeCat .contInfoGrandeCat .contVidInfo{ bottom: 10px; left: 0; position: absolute;  width: 100%; }
          .contGrandeCat .contInfoGrandeCat .contVidInfo .contVidInfo_icon{width:10px; height:10px; background:#fff; float:right; margin-top:8px;}
          .contGrandeCat .contInfoGrandeCat .contVidInfo p{ width: calc(100% - 10px);}

              @media (min-width:1280px) {  .contGrandeCat{ height:560px; transition: height 1s;}  }
              @media (min-width:1024px) AND (max-width:1280px) {.contGrandeCat{ height:455px; transition: height 1s;} }
              @media (min-width:768px) AND (max-width:1023px) { .contGrandeCat{ height:360px; transition: height 1s;} }
              @media (min-width:600px) AND (max-width:799px) {
                .contGrandeCat{ height:200px; transition: height 1s;}
                .contGrandeCat .contInfoGrandeCat{  margin:20px; height: calc(100% - 40px); width: calc(100% - 40px);}
                .contGrandeCat .contInfoGrandeCat h1{ font-size:35px; margin:15px 0px;}
                .contGrandeCat .contInfoGrandeCat p{ line-height: 20px; font-size: 14px; width: 300px;}
                .contGrandeCat .contInfoGrandeCat .contVidInfo{ bottom:0px; }

              }
              @media (min-width:480px) AND (max-width:599px) {
                .contGrandeCat{ height:200px; transition: height 1s;}
                .contGrandeCat .contInfoGrandeCat{  margin:20px; height: calc(100% - 40px); width: calc(100% - 40px);}
                .contGrandeCat .contInfoGrandeCat h1{ font-size:30px; margin:10px 0px;}
                .contGrandeCat .contInfoGrandeCat p{ line-height: 20px; font-size: 16px; width: 380px;}
              }
              @media (min-width:320px) AND (max-width:479px) {
                .contGrandeCat{ height:100px; transition: height 1s;}
                .contGrandeCat .contInfoGrandeCat{  margin:0px 10px; width: calc(100% - 20px);  height:100%; }
                .contGrandeCat .contInfoGrandeCat h1{ font-size:25px; margin:10px 0px 10px 0px;}
                .contGrandeCat .contInfoGrandeCat p{ line-height:16px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:260px; }
                .contGrandeCat .contInfoGrandeCat .contVidInfo p{ max-width:230px;}
              }




          .contChicoCat{ position:relative;   background:#666; margin:0!important; padding:0!important; }
          .contChicoCat a{ text-decoration: none; text-transform:none; color:#fff; float:left; display:block;}
          .contChicoCat img{position:relative; width:100%!important;}
          .contChicoCat .contInfoChicoCat{ position: absolute; top: 0; left: 0; margin:0px 30px 20px 30px;  width: calc(100% - 60px); height:calc(100% - 20px);}
          .contChicoCat .contInfoChicoCat h1{ font-size:30px; font-weight:bold;text-transform: capitalize;}
          .contChicoCat .contInfoChicoCat p{ float:left; margin:0;padding:0; line-height: 20px; font-size: 18px; font-weight: 300;}
          .contChicoCat .contInfoChicoCat .contVidInfo{ bottom: 10px; left: 0; position: absolute;  width: 100%; }
          .contChicoCat .contInfoChicoCat .contVidInfo .contVidInfo_icon{width:10px; height:10px; background:#fff; float:right;  margin-top: 3px;}


                @media (min-width:1280px) {  .contChicoCat{ height:280px; transition: height 1s;}  }
                @media (min-width:1024px) AND (max-width:1280px) {
                  .contChicoCat{ height:227.5px; transition: height 1s;}
                  .contChicoCat .contInfoChicoCat h1{ margin: 20px 0px 15px 0px;}
                  .contChicoCat .contInfoChicoCat p{ line-height:18px; font-size:14px; }
                }
                @media (min-width:768px) AND (max-width:1023px) {
                  .contChicoCat{ height:180px; transition: height 1s; }
                  .contChicoCat .contInfoChicoCat h1{ margin:20px 0px;}
                  .contChicoCat .contInfoChicoCat p{ line-height:18px; font-size:16px; }
                }

                @media (min-width:600px) AND (max-width:799px) {
                  .contChicoCat{ height:100px; transition: height 1s;}
                  .contChicoCat .contInfoChicoCat{ margin: 0px 20px; width: calc(100% - 40px); height: 100%;}
                  .contChicoCat .contInfoChicoCat p{ line-height:16px; font-size:14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 350px; }
                  .contChicoCat .contInfoChicoCat h1{margin: 10px 0px 10px 0px; font-size: 25px; }
                }

                @media (min-width:480px) AND (max-width:599px) {
                  .contChicoCat{ height:100px; transition: height 1s;}
                  .contChicoCat .contInfoChicoCat{ margin: 0px 20px; width: calc(100% - 40px); height: 100%;}
                  .contChicoCat .contInfoChicoCat p{ line-height:16px; font-size:16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 410px; }
                  .contChicoCat .contInfoChicoCat h1{margin: 10px 0px 10px 0px; font-size: 25px; }
                }
                @media (min-width:320px) AND (max-width:479px) {
                  .contChicoCat{ height:100px; transition: height 1s;}
                  .contChicoCat .contInfoChicoCat{ margin: 0px 10px; width: calc(100% - 20px); height: 100%;}
                  .contChicoCat .contInfoChicoCat p{ line-height:16px; font-size:14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 260px; }
                  .contChicoCat .contInfoChicoCat h1{margin: 10px 0px 10px 0px; font-size: 25px; }

                }

              /*  .contChicoCat .contInfoChicoCat p{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 177px; }*/



/*--------------------------------------------------------------------*/


              .contChicoResult .contChicoResult_moduloPopUp_Conectate{ width:100%; height:100%;  margin:0px; padding:0; text-align:center; background:#232323; float: left;}
              .contChicoResult .contChicoResult_moduloPopUp_Conectate h1{ font-size:65px; margin:135px 0px 20px 0px;}
              .contChicoResult_moduloPopUp_Conectate .iconCont{width:100%!important;}
              .contChicoResult_moduloPopUp_Conectate .iconCont a{color:#fff;}
              .contChicoResult_moduloPopUp_Conectate .iconCont i{font-size: 30px;}

                      @media (min-width:1280px) {  .contChicoResult .contChicoResult_moduloPopUp_Conectate h1{font-size:65px; margin:145px 0px 20px 0px;}  }
                      @media (min-width:1024px) AND (max-width:1280px) {.contChicoResult .contChicoResult_moduloPopUp_Conectate h1{font-size:50px; margin:105px 0px 20px 0px;} }
                      @media (min-width:768px) AND (max-width:1023px) { .contChicoResult .contChicoResult_moduloPopUp_Conectate h1{font-size: 50px; margin: 35px 0px 25px 0px;} }
                      @media (min-width:600px) AND (max-width:799px) {  .contChicoResult .contChicoResult_moduloPopUp_Conectate h1{font-size:65px; margin:25px 0px 20px 0px;} }
                      @media (min-width:480px) AND (max-width:599px) {  .contChicoResult .contChicoResult_moduloPopUp_Conectate h1{font-size:65px; margin:135px 0px 20px 0px;} }
                      @media (min-width:320px) AND (max-width:479px) {  .contChicoResult .contChicoResult_moduloPopUp_Conectate h1{font-size:50px; margin:95px 0px 20px 0px;} }



              .contChicoResult_moduloPopUp_Aviso{ width:100%; height:100%; overflow: hidden; position:relative;}
              .contChicoResult_moduloPopUp_Aviso a{ position: relative; color:#fff; display: block;}
              .contChicoResult_moduloPopUp_Aviso a:hover{ }
              .contChicoResult_moduloPopUp_Aviso a img{ width:100%;}
              .contChicoResult_moduloPopUp_Aviso_info{ width:100%; height:100%; font-size:42px;  transition:all 0.5s ease; font-weight: bold; padding:135px 0px 0px 0px; text-align: center; position:absolute; top: 0; left:0; display:block;}
              .contChicoResult_moduloPopUp_Aviso_info:hover{ font-size:44px;  transition:all 0.5s ease;}

                  @media (min-width:1280px) { .contChicoResult_moduloPopUp_Aviso_info{ }   }
                  @media (min-width:1024px) AND (max-width:1280px) {
                    .contChicoResult_moduloPopUp_Aviso_info{ padding: 100px 0px 0px 0px;  }
                  }
                  @media (min-width:768px) AND (max-width:1023px) {
                     .contChicoResult_moduloPopUp_Aviso_info{ padding: 40px 0px 0px 0px;   }
                  }
                  @media (min-width:600px) AND (max-width:799px) {
                    .contChicoResult_moduloPopUp_Aviso_info{ padding: 35px 0px 0px 0px;   }
                  }
                  @media (min-width:480px) AND (max-width:599px) {
                    .contChicoResult_moduloPopUp_Aviso_info{ }
                  }
                  @media (min-width:320px) AND (max-width:479px) {
                    .contChicoResult_moduloPopUp_Aviso_info{ width:100%; height:100%;  padding: 100px 0px 0px 0px; font-size: 32px; transition:all 0.5s ease;}
                    .contChicoResult_moduloPopUp_Aviso_info:hover{ font-size:34px;  transition:all 0.5s ease;}

                  }

/*-----------------------------------------*/












#contModalAside{ margin:0;padding:0; }
    /*--------*/
    #contAsideUp{ }
    #contAsideUp_search{  margin: 50px 20px;  width: calc(100% - 40px); border:2px #fff solid;}
    #contAsideUp_search .input-field{margin: 0px;}
    #contAsideUp_search .input-field input[type=search]+label{ }
    #contAsideUp_search .input-field label.active{ top: -0px!important; transform: translateY(-115%)!important; color:#fff!important; font-size: 16px; }
    #contAsideUp_search .input-field label{ color:#fff!important; font-size: 20px; top: 10px;}
    #contAsideUp_search .input-field input[type=search]:focus{ background:#333; color:#fff;}
    #contAsideUp_search input:-webkit-autofill{background: #333; color: #fff;}
    #contAsideUp_search #search{margin:0;}
}



}


        @media (min-width:1280px) {  #contAsideUp{ height:160px;}  }
        @media (min-width:1024px) AND (max-width:1280px) {#contAsideUp{ height:140px;} }
        @media (min-width:768px) AND (max-width:1023px) { #contAsideUp{ height:120px;} }
        @media (min-width:600px) AND (max-width:799px) {  #contAsideUp{ height:140px;} }
        @media (min-width:480px) AND (max-width:599px) {  #contAsideUp{ height:140px;} }
        @media (min-width:320px) AND (max-width:479px) {  #contAsideUp{ height:140px;} }
    /*----------*/



    #contAsideBotton{ height:auto; margin: 0; padding: 0; overflow: hidden; position:relative;}
    #contAsideBotton .contAsideBotton_fondo_opacity{ width: 100%;  height: 100%;  background:#200944; display: block; float: left; position: absolute;  top: 0;  left: 0; opacity: 0.5;}
    #contAsideBotton img{ position:absolute; top:0; left:0; width:100%; }
    #contAsideBotton .contAsideBotton_info{text-transform: capitalize; width: 100%; height:100%; text-align:center; position:absolute; top:0; left:0;}
    #contAsideBotton .contAsideBotton_info h1{  margin: 160px 0px 20px 0px;  font-size: 60px; font-weight: bold;  letter-spacing: 4px;}
    #contAsideBotton .contAsideBotton_info h4{ font-size:20px; }
    #contAsideBotton .contAsideBotton_info p{  font-size: 16px;  margin: 20px 25px; }
    #contAsideBotton .contAsideBotton_info a{  background: #6f39c3;  width: 160px;  height: 40px; line-height: 40px; font-size: 18px; margin-top:10px;}

        @media (min-width:1280px) {  #contAsideBotton{ height:680px;}  }
        @media (min-width:1024px) AND (max-width:1280px) {
          #contAsideBotton{ height:543px;}
          #contAsideBotton .contAsideBotton_info h1{  margin:90px 0px 20px 0px;  font-size:45px;}
        }
        @media (min-width:768px) AND (max-width:1023px) {
          #contAsideBotton{ height:420px;}
          #contAsideBotton .contAsideBotton_info h1{  margin:20px 0px 20px 0px;  font-size:35px;}
          #contAsideBotton .contAsideBotton_info p{  font-size: 14px; }
        }
        @media (min-width:600px) AND (max-width:799px) {
          #contAsideBotton{ height:300px;}
          #contAsideBotton .contAsideBotton_info h1{  margin:20px 0px 10px 0px;  font-size:22px;}
          #contAsideBotton .contAsideBotton_info p{  font-size: 12px; margin: 15px; }
          #contAsideBotton .contAsideBotton_info h4{ font-size: 14px; margin: 10px 0px;}
          #contAsideBotton .contAsideBotton_info a{  width: 125px; padding: 0px; height: 35px; line-height: 35px; font-size: 14px; margin-top: 10px; }
        }
        @media (min-width:480px) AND (max-width:599px) {  #contAsideBotton{ height:630px;} }
        @media (min-width:320px) AND (max-width:479px) {
          #contAsideBotton{ height:470px;}
          #contAsideBotton .contAsideBotton_info h1{  margin:70px 0px 10px 0px;  font-size:40px;}
        }











  /*-----------------------------------------*/



#contModalResult{ margin:0;padding:0; }

          .contChicoResult{ width:100%; margin:0!important ;padding:0!important; float:left;}
          .contChicoResult .contChicoResult_moduloCont{  position:relative;  overflow: hidden; width: 100%; height: 100%;}
          .contChicoResult .contChicoResult_moduloCont a{width:100%; display: block; float: left; color:#fff;}
          .contChicoResult .contChicoResult_moduloCont img{  position:relative; width:120%!important; }
          .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_opacity{ width: 100%; height: 100%; background: #333;  display: block;  float: left;  position: absolute; top: 0;  left: 0; opacity: 0.5;}
          .contChicoResult_moduloContfondo_cont_info_item1{text-transform: capitalize; font-size: 14px; line-height: 20px; display: block; float: left; padding: 1px 10px; margin-left:5px; margin-bottom: 5px;}
          .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info{ position: absolute; top: 0;  left: 0; margin: 20px 30px; height: calc(100% - 40px);  width: calc(100% - 60px); }
          .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info h1{width:100%; font-size:20px; line-height:25px; color:#fff; float: left; display: block; margin:20px 0px 10px 0px; font-weight: bold;}
          .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info p{width:100%; display: block; float: left; }

                @media (min-width:1280px) {  .contChicoResult{ height:425px;}  }
                @media (min-width:1024px) AND (max-width:1280px) { .contChicoResult{ height:340px;} }
                @media (min-width:768px) AND (max-width:1023px) {
                  .contChicoResult{ height:200px;}
                  .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info h1{ width:100%; font-size:22px; line-height:22px; letter-spacing: 1px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
                  .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info p{ width:100%; font-size:16px; line-height: 20px; }
                }
                @media (min-width:600px) AND (max-width:799px) {
                  .contChicoResult{ height:190px;}
                  .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info h1{ width:100%; font-size:22px; line-height:22px; letter-spacing: 1px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
                  .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info p{ width:100%; font-size:16px; line-height: 20px; }
                }
                @media (min-width:480px) AND (max-width:599px) {
                  .contChicoResult{ height:440px;}
                  .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info h1{ width:100%; font-size:25px; line-height:30px; letter-spacing: 1px;}
                  .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info p{ width:100%; font-size:18px; line-height: 22px; }
                }
                @media (min-width:320px) AND (max-width:479px) {
                  .contChicoResult{ height:300px;}
                  .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info h1{ width:100%; font-size:20px; line-height:25px; letter-spacing: 1px;}
                  .contChicoResult .contChicoResult_moduloCont .contChicoResult_moduloContfondo_cont_info p{ width:100%; font-size:16px; line-height: 20px; }
                }







          .contGrandeResult{ width:100%; margin:0!important ;padding:0!important; float:left;}
          .contGrandeResult .contGrandeResult_moduloCont{  position:relative;  overflow: hidden; width: 100%; height: 100%;}
          .contGrandeResult .contGrandeResult_moduloCont a{width:100%; display: block; float: left; color:#fff;}
          .contGrandeResult .contGrandeResult_moduloCont img{  position:relative; width:120%!important; }
          .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_opacity{ width: 100%; height: 100%; background: #333;  display: block;  float: left;  position: absolute; top: 0;  left: 0; opacity: 0.5;}
          .contGrandeResult_moduloContfondo_cont_info_item1{text-transform: capitalize; display: block; float: left; padding: 1px 10px; margin-left:5px; margin-bottom: 5px;}
          .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info{ position: absolute; bottom: 0;  left: 0; margin: 20px 30px; width: calc(100% - 60px); }
          .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info h1{width:100%; font-size:35px; line-height:40px; color:#fff; float: left; display: block; margin:20px 0px 10px 0px; font-weight: bold;}
          .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info p{width:100%; display: block; float: left; font-size:20px; line-height:22px; margin:10px 0px;}


                @media (min-width:1280px) {  .contGrandeResult{ height:850px;}  }
                @media (min-width:1024px) AND (max-width:1280px) {
                  .contGrandeResult{ height:680px;}
                  .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info h1{font-size:30px; line-height:35px;}
                }
                @media (min-width:768px) AND (max-width:1023px) { .contGrandeResult{ height:400px;} }
                @media (min-width:600px) AND (max-width:799px) {
                  .contGrandeResult{ height:400px;}
                  .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info h1{font-size:25px; line-height:30px;}
                  .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info p{font-size:16px; line-height:20px;}

                }
                @media (min-width:480px) AND (max-width:599px) {
                  .contGrandeResult{ height:500px;}
                  .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info h1{font-size:25px; line-height:30px;}
                  .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info p{font-size:16px; line-height:20px;}
                }
                @media (min-width:320px) AND (max-width:479px) {
                  .contGrandeResult{ height:350px;}
                  .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info{ position: absolute; top: 0;}
                  .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info h1{font-size:22px; line-height:28px;}
                  .contGrandeResult .contGrandeResult_moduloCont .contGrandeResult_moduloContfondo_cont_info p{font-size:16px; line-height:20px;}
               }

        .contGrandeResult_2b{ float:right!important;}

/*----------------------------------------------------------------------------------------------------*/









































/*---------------------------------------template categorias-------------------------------------------------------------*/

#cont_categoria{ width:100%; float:none; margin:100px auto 50px auto;}

      @media (min-width:1280px) {  #cont_categoria{ width:1280px; transition: width 1s;} }
      @media (min-width:1024px) AND (max-width:1280px) { #cont_categoria{ width:1024px; transition: width 1s;} }
      @media (min-width:768px) AND (max-width:1023px) {  #cont_categoria{ width:800px;  transition: width 1s;} }
      @media (min-width:600px) AND (max-width:799px) {   #cont_categoria{ width:570px;  transition: width 1s;} }
      @media (min-width:480px) AND (max-width:599px) {   #cont_categoria{ width:440px;  transition: width 1s;} }
      @media (min-width:320px) AND (max-width:479px) {   #cont_categoria{ width:300px;  transition: width 1s;} }


#cont_categoria_head h1{ font-weight: bold; color: #f4206a; font-size: 70px; text-transform: capitalize; }
#cont_categoria_head .cont_categoria_head_navBar_subCategorias ul{}
#cont_categoria_head .cont_categoria_head_navBar_subCategorias ul li{ float: left; margin-left: 5px; margin-bottom: 5px;}
#cont_categoria_head .cont_categoria_head_navBar_subCategorias ul li a{    background: #f4206a;}




/*----------------------------------aviso consegui tus entradas en sidebar------------------------*/



.cont_categoria_section_result{ min-height: 1000px; margin:0px!important; padding: 0px!important;}
.cont_categoria_section_result_post{width: 100%; height:100%; margin:0px!important; padding: 0px!important;  display:block; float:left; position:relative; overflow: hidden; }
.cont_categoria_section_result_post a{color:#fff;}
.cont_categoria_section_result_post .result_post_01{ width:100%; margin:0px!important; padding: 0px!important; float:left; position:relative; z-index:5;}
.cont_categoria_section_result_post .result_post_02{ width:100%; margin:0px!important; padding: 0px!important; background: #666; float:left; overflow:hidden; position:relative; z-index:1;}


.result_post_02 img{ width: 100%; height: 100%;}
.result_post_02 .result_post_02_contOpacity{ width: 100%; height: 100%; background: #000; display: block; float: left; position: absolute; top: 0; left: 0; opacity: 0.0;}


.result_post_01_contenido{ width:calc(100% - 60px); height:calc(100% - 60px); margin:30px; position:relative; }
.result_post_01_contCat{ width:100%; height:30px;}
.result_post_01_contCat_subCont{float: left; width: 100%; display: block;}
.result_post_01_contCat_bot{ font-size:14px; line-height:16px; float:left; display: block; padding:4px 10px; background:#000; margin:0px 5px 5px 0px;}
.result_post_01_contCat_subcat{font-size: 12px; line-height:12px; padding:4px 5px; float:left; display:block;}
.result_post_01_contCat_subcat a{ color:#fff; }
.result_post_01_contenido h1{ font-size: 25px; float:left;}
.result_post_01_contenido p{ font-size: 16px; float:left; }
.result_post_01_contenido_icon{ position:absolute; bottom:0px; right:0px; width:10px; height:10px; background:#fff; }

        @media (min-width:1280px) { .result_post_01{ height:419px;} .result_post_02{ height:419px; }    }
        @media (min-width:1024px) AND (max-width:1280px) { .result_post_01{ height:334px; } .result_post_02{ height:334px; } }
        @media (min-width:768px) AND (max-width:1023px) {  .result_post_01{ height:389px; } .result_post_02{ height:389px; } }
        @media (min-width:600px) AND (max-width:799px) {
          .result_post_01{ height:274px; } .result_post_02{ height:274px; }
          .result_post_01_contenido h1{ font-size: 18px;  }
          .result_post_01_contenido p{ width:100%; font-size: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
        }
        @media (min-width:480px) AND (max-width:599px) {
          .result_post_01{ height:419px; background:none!important; }
          .result_post_02{ height:419px; position:absolute!important;}
          .result_post_02 .result_post_02_contOpacity{ opacity: 0.6;}
        }
        @media (min-width:320px) AND (max-width:479px) {
          .result_post_01{ height:279px; background:none!important;}
          .result_post_02{ height:279px; position:absolute!important;}
          .result_post_02 .result_post_02_contOpacity{ opacity: 0.6;}
          .result_post_01_contenido h1{ font-size: 18px;  }
          .result_post_01_contenido p{ width:100%; font-size: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
        }






/*----------------------------------------------------------*/


.cont_categoria_section_sidebar{margin:0px!important; padding:0px!important; }




/*----------------------------------aviso consegui tus entradas en sidebar------------------------*/
#cont_sideBar_Buscador {height:160px;}
#cont_sideBar_Buscador_search{  margin: 50px 20px;  width: calc(100% - 40px); border:2px #fff solid;}
#cont_sideBar_Buscador_search .input-field{margin: 0px;}
#cont_sideBar_Buscador_search .input-field input[type=search]+label{ }
#cont_sideBar_Buscador_search .input-field label.active{ top: -0px!important; transform: translateY(-115%)!important; color:#fff!important; font-size: 16px; }
#cont_sideBar_Buscador_search .input-field label{ color:#fff!important; font-size: 20px; top: 10px;}
#cont_sideBar_Buscador_search .input-field input[type=search]:focus{ background:#333; color:#fff;}
#cont_sideBar_Buscador_search input:-webkit-autofill{background: #333; color: #fff;}
#cont_sideBar_Buscador_search #search{margin:0;}
}

        @media (min-width:1280px) { .cont_sideBar_Buscador{ height:160px;}    }
        @media (min-width:1024px) AND (max-width:1280px) { .cont_sideBar_Buscador{ height:162px;}  }
        @media (min-width:768px) AND (max-width:1023px) {  .cont_sideBar_Buscador{ height:389px;} #cont_sideBar_Buscador_search{margin: 170px 20px;}  }
        @media (min-width:600px) AND (max-width:799px) {   .cont_sideBar_Buscador{ height:274px;} #cont_sideBar_Buscador_search{margin: 114px 20px;}  }
        @media (min-width:480px) AND (max-width:599px) {   }
        @media (min-width:320px) AND (max-width:479px) {   }





.cont_sideBar_Aviso{ width:100%; overflow: hidden; position:relative; margin:0px!important; padding:0px!important;}
.cont_sideBar_Aviso a{ position: relative; color:#fff; display: block;}
.cont_sideBar_Aviso a:hover{ }
.cont_sideBar_Aviso a img{ width:100%;}
.cont_sideBar_Aviso_info{ width:100%; height:100%; font-size:42px;  transition:all 0.5s ease; font-weight: bold; padding:135px 0px 0px 0px; text-align: center; position:absolute; top: 0; left:0; display:block;}
.cont_sideBar_Aviso_info:hover{ font-size:44px;  transition:all 0.5s ease;}

        @media (min-width:1280px) {
          .cont_sideBar_Aviso_info{ }
          .cont_sideBar_Aviso{height:419px;}
        }
        @media (min-width:1024px) AND (max-width:1280px) {
          .cont_sideBar_Aviso_info{ padding: 100px 0px 0px 0px;  }
          .cont_sideBar_Aviso{height:333px;}
        }
        @media (min-width:768px) AND (max-width:1023px) {
           .cont_sideBar_Aviso{height:389px;}
           .cont_sideBar_Aviso_info{ padding:120px 0px 0px 0px;   }
        }
        @media (min-width:600px) AND (max-width:799px) {
          .cont_sideBar_Aviso{height:274px;}
          .cont_sideBar_Aviso_info{  padding: 85px 0px 0px 0px; font-size: 30px;  }
          .cont_sideBar_Aviso_info:hover{ font-size:32px;  transition:all 0.5s ease;}
        }
        @media (min-width:480px) AND (max-width:599px) {
          .cont_sideBar_Aviso{height:419px;}
          .cont_sideBar_Aviso_info{  padding: 130px 0px 0px 0px; }
        }
        @media (min-width:320px) AND (max-width:479px) {
          .cont_sideBar_Aviso{height:279px;}
          .cont_sideBar_Aviso_info{ width:100%; height:100%;  padding:90px 0px 0px 0px; font-size: 32px; transition:all 0.5s ease;}
          .cont_sideBar_Aviso_info:hover{ font-size:34px;  transition:all 0.5s ease;}

        }


/*----------------------------------aviso conectate en sidebar------------------------*/


 .cont_sideBar_Conectate{ width:100%; margin:0px!important; padding:0px!important; text-align:center; background:#232323; float: left;}
 .cont_sideBar_Conectate h1{ font-size:65px; margin:135px 0px 20px 0px;}
 .cont_sideBar_Conectate .iconCont{width:100%!important;}
 .cont_sideBar_Conectate .iconCont i{font-size: 30px;}

        @media (min-width:1280px) {  .cont_sideBar_Conectate{ height:419px; }   }
        @media (min-width:1024px) AND (max-width:1280px) {
           .cont_sideBar_Conectate{height:333px;}
           .cont_sideBar_Conectate h1{ font-size: 55px; margin: 120px 0px 20px 0px; }
        }
        @media (min-width:768px) AND (max-width:1023px) { .cont_sideBar_Conectate{ height:389px; }    }
        @media (min-width:600px) AND (max-width:799px) {
           .cont_sideBar_Conectate{ height:274px; }
           .cont_sideBar_Conectate h1{ font-size: 45px;  margin: 90px 0px 20px 0px;}
        }
        @media (min-width:480px) AND (max-width:599px) {
           .cont_sideBar_Conectate{ height:419px; }
        }
        @media (min-width:320px) AND (max-width:479px) {
           .cont_sideBar_Conectate{ height:274px; }
           .cont_sideBar_Conectate h1{ font-size: 45px;  margin: 90px 0px 20px 0px;}
        }



/*----------------------------------aviso destacado en sidebar------------------------*/



    .cont_sideBar_Destacado{width:100%; height:auto; margin: 0; padding: 0; overflow: hidden; position:relative;}
    .cont_sideBar_Destacado .contAsideBotton_fondo_opacity{ width: 100%;  height: 100%;  background:#200944; display: block; float: left; position: absolute;  top: 0;  left: 0; opacity: 0.5;}
    .cont_sideBar_Destacado img{ position:absolute; top:0; left:0; width:100%; }
    .cont_sideBar_Destacado .contAsideBotton_info{ width: 100%; height:100%; text-align:center; position:absolute; top:0; left:0;}
    .cont_sideBar_Destacado .contAsideBotton_info h1{  margin: 160px 0px 20px 0px;  font-size: 60px; font-weight: bold;  letter-spacing: 4px;}
    .cont_sideBar_Destacado .contAsideBotton_info h4{ font-size:20px; }
    .cont_sideBar_Destacado .contAsideBotton_info p{  font-size: 16px;  margin: 20px 25px; }
    .cont_sideBar_Destacado .contAsideBotton_info a{  background: #6f39c3;  width: 160px;  height: 40px; line-height: 40px; font-size: 18px; margin-top:10px;}

            @media (min-width:1280px) {  .cont_sideBar_Destacado{ height:670px;}  }
            @media (min-width:1024px) AND (max-width:1280px) {
              .cont_sideBar_Destacado{ height:535px;}
              .cont_sideBar_Destacado .contAsideBotton_info h1{  margin:90px 0px 20px 0px;  font-size:45px;}
            }
            @media (min-width:768px) AND (max-width:1023px) {
              .cont_sideBar_Destacado{ height:389px;}
              .cont_sideBar_Destacado .contAsideBotton_info h1{  margin:70px 0px 20px 0px;  font-size:35px;}
              .cont_sideBar_Destacado .contAsideBotton_info p{  font-size: 14px; }
            }
            @media (min-width:600px) AND (max-width:799px) {
              .cont_sideBar_Destacado{ height:274px;}
              .cont_sideBar_Destacado .contAsideBotton_info h1{  margin:20px 0px 10px 0px;  font-size:22px;}
              .cont_sideBar_Destacado .contAsideBotton_info p{  font-size: 12px; margin: 15px; }
              .cont_sideBar_Destacado .contAsideBotton_info h4{ font-size: 14px; margin: 10px 0px;}
              .cont_sideBar_Destacado .contAsideBotton_info a{  width: 125px; padding: 0px; height: 35px; line-height: 35px; font-size: 14px; margin-top: 10px; }
            }
            @media (min-width:480px) AND (max-width:599px) {  .cont_sideBar_Destacado{ height:630px;} }
            @media (min-width:320px) AND (max-width:479px) {
              .cont_sideBar_Destacado{ height:440px;}
              .cont_sideBar_Destacado .contAsideBotton_info h1{  margin:70px 0px 10px 0px;  font-size:40px;}
            }




/*--------------------------------------------------*/



.cont_sideBar_Categorias{width:100%; margin:0px!important; padding:0px!important;}
.cont_sideBar_Categorias .cont_sideBar_Categorias_individual{ width:100%; float:left; }
.cont_sideBar_Categorias .cont_sideBar_Categorias_individual a{ color:#fff; }
.cont_sideBar_Categorias_individual .cont_sideBar_Categorias_individual_info{ width:100%; height:100%; margin: 0; padding: 0 30px;  display: block;  float: left; position:relative; }
.cont_sideBar_Categorias_individual .cont_sideBar_Categorias_individual_info h1{font-size: 32px; font-weight: bold;}
.cont_sideBar_Categorias_individual .cont_sideBar_Categorias_individual_info_vid{ bottom: 10px; left: 0; position: absolute;  width:calc(100% - 60px); margin:0 30px;}
.cont_sideBar_Categorias_individual .cont_sideBar_Categorias_individual_info_vid .cont_sideBar_Categorias_individual_info_vid_icon{width:10px; height:10px; background:#fff; float:right;  margin-top: 3px;}
.cont_sideBar_Categorias_individual_info_vid p{width:200px; margin:0px!important; padding: 0!important; float: left;}

      @media (min-width:1280px) {   .cont_sideBar_Categorias_individual{ height:253px; }  }
      @media (min-width:1024px) AND (max-width:1280px) {
        .cont_sideBar_Categorias_individual{ height:195px; }
        .cont_sideBar_Categorias_individual_info h1{ margin: 15px 0px 5px 0px; }
      }
      @media (min-width:768px) AND (max-width:1023px) { .cont_sideBar_Categorias_individual{ height:170px; }  }
      @media (min-width:600px) AND (max-width:799px) {  .cont_sideBar_Categorias_individual{ height:170px; }  }
      @media (min-width:480px) AND (max-width:599px) {  .cont_sideBar_Categorias_individual{ height:200px; }   }
      @media (min-width:320px) AND (max-width:479px) {  .cont_sideBar_Categorias_individual{ height:250px; }  }








































/*--------------------------cont_post----------------------*/
#cont_post{ width:100%; float:none;  margin: 100px auto 50px auto;  min-height: 1200px;}

          @media (min-width:1280px) {  #cont_post{ width:1280px; transition: width 1s;} }
          @media (min-width:1024px) AND (max-width:1280px) { #cont_post{ width:1024px; transition: width 1s;} }
          @media (min-width:768px) AND (max-width:1023px) {  #cont_post{ width:800px;  transition: width 1s;} }
          @media (min-width:600px) AND (max-width:799px) {   #cont_post{ width:570px;  transition: width 1s;} }
          @media (min-width:480px) AND (max-width:599px) {   #cont_post{ width:440px;  transition: width 1s;} }
          @media (min-width:320px) AND (max-width:479px) {   #cont_post{ width:300px;  transition: width 1s;} }


#cont_post_head{ width:100%; }

#cont_post_head_catSubcat{ position:relative; float:none; margin:0 auto; }
#cont_post_head_catSubcat h2{font-size: 18px; float:left; margin-left:15px; margin-bottom:5px;  margin-top:5px;}
#tituloPost{  font-size: 60px; margin:30px;}
#categoriaPost{ font-size: 40px; margin:20px 0px 0px 0px; font-weight: bold;}
#cont_post_head_titRedsocial{ margin:30px 0px 10px 0px; color:#2095f4; font-size: 20px;}
#cont_post_head_redsocial{ margin:20px 0px;}
#cont_post_head_redsocial a{  }
#cont_post_head_redsocial a i{width: 30px; height: 30px; font-size: 20px; line-height: 30px; background: #2095f4; color: #fff;  border-radius: 14px;}




#cont_post_section_video{ background:#28272d; margin: 0px; padding:0; }
#cont_post_section_video_cont{height: 500px;  background:#666; margin:0px 0px 20px 0px;}

          @media (min-width:1280px) { #cont_post_section_video_cont{height: 550px; transition: width 1s;} }
          @media (min-width:1024px) AND (max-width:1280px) {
            #cont_post_section_video_cont{height: 500px; transition: width 1s;}

          }
          @media (min-width:768px) AND (max-width:1023px) {   #cont_post_section_video_cont{height: 440px; transition: width 1s;} }
          @media (min-width:600px) AND (max-width:799px) {
            #cont_post_section_video_cont{height: 360px; transition: width 1s;}
            #tituloPost{  font-size: 50px; }
            #categoriaPost{ font-size: 30px; }
          }
          @media (min-width:480px) AND (max-width:599px) {
            #cont_post_section_video_cont{height: 280px; transition: width 1s;}
            #tituloPost{  font-size: 40px; }
            #categoriaPost{ font-size: 30px; }
          }
          @media (min-width:320px) AND (max-width:479px) {
            #cont_post_section_video_cont{height: 180px; transition: width 1s;}
            #tituloPost{  font-size: 30px; }
            #categoriaPost{ font-size: 20px; }
          }



#cont_post_section_video_info{ position: relative;}
#cont_post_section_video_info_youtuber{ margin-top: 20px;}
#cont_post_section_video_info_youtuber{} .infoLink_youtuber_section{ margin-bottom: 10px; float:left; display:block; border-radius:0px 10px 10px 0px; margin-left: 20px; background:#000; min-width:130px;}
#cont_post_section_video_info_youtuber{} .infoLink_youtuber_section i{  position:relative; left:-10px; width:30px; height:30px; font-size:20px; line-height: 30px; float:left; display:block; background:#029dd5; text-align:center; border-radius:14px; color:#fff;}
#cont_post_section_video_info_youtuber{} .infoLink_youtuber_section h1{ font-size:18px; line-height:30px; float: left; display:block; margin:0px; padding:0px 10px 0px 0px;  }


#cont_post_section_video_info_youtuber_texto{ width:calc(100% - 60px); margin:30px; }




#cont_post_section_video_info_youtuber_redSocial{ margin:20px 0px; padding:0px;}
#cont_post_section_video_info_youtuber_redSocial_tit{ width: 140px;  font-size: 18px;  line-height: 30px;  color: #2095f4; }
#cont_post_section_video_info_youtuber_redSocial_icon{ font-size: 20px; line-height:20px; }
#cont_post_section_video_info_youtuber_redSocial_icon div {  margin: 0px 3px 0px 0px; padding: 0px; width: 30px; }
#cont_post_section_video_info_youtuber_redSocial_icon div a{ margin:0px; padding:0px; float:left; display: block;}
#cont_post_section_video_info_youtuber_redSocial_icon div a i{ width:30px; height:30px; margin:0px; padding:0px; line-height:30px; text-align:center; color:#fff; background:#2095f4; border-radius: 14px;}




#cont_post_section_destacado{ margin:0px; padding:0px; }
#cont_post_section_destacado div{ background:#555; border:1px #333 solid; box-sizing:border-box;}

          @media (min-width:1280px) { #cont_post_section_destacado div{ height: 426px; transition: width 1s;} }
          @media (min-width:1024px) AND (max-width:1280px) { #cont_post_section_destacado div{ height: 341px; transition: width 1s;} }
          @media (min-width:768px) AND (max-width:1023px) {  #cont_post_section_destacado div{ height: 266px; transition: width 1s;} }
          @media (min-width:600px) AND (max-width:799px) {   #cont_post_section_destacado div{ height: 190px; transition: width 1s;} }
          @media (min-width:480px) AND (max-width:599px) {   #cont_post_section_destacado div{ height: 440px; transition: width 1s;} }
          @media (min-width:320px) AND (max-width:479px) {   #cont_post_section_destacado div{ height: 300px; transition: width 1s;} }




#cont_post_section_footer_redSocial{ margin:30px 0 0 0; padding:0px;}
#cont_post_section_footer_redSocial_tit{ font-size:30px; margin:0 0 20px 0; padding:0;}
#cont_post_section_footer_redSocial div a i{font-size:35px; color:#fff;  }


































/*---------------------------------------------footer---------------------------------------------------*/

footer.page-footer{padding-top:0px; background-color: #15181c;}
.navFooterIcon .row{ width:186px; margin-top:10px;}
.navFooterIcon .row .col{ float:left; display: block; width:30px; height:30px; margin-left:1px;}
.navFooterIcon .row .col a{color:#666; }
.navFooterIcon .row .col i{position: relative; top: -5px; font-size:20px; }
.navFooterLink{ height:30px; margin:10px 0px; line-height:30px; border-left:1px #000 solid; color:#000; box-sizing: border-box;}
.img_logo_footer{width:150px; margin-top:5px;}
.navFooterLink a{color:#000;}
footer.page-footer .footer-copyright{ height:50px;}
.navFooterLink:nth-child(1){ border:none;}
.navFooterLink:nth-child(2){ border:none;}


        @media (min-width:1280px) { footer.page-footer .footer-copyright{ height:50px;}  }
        @media (min-width:1024px) AND (max-width:1280px) {footer.page-footer .footer-copyright{ height:50px;} }
        @media (min-width:768px) AND (max-width:1023px) {
          footer.page-footer .footer-copyright{ height:125px;}
          .navFooterLink{margin:0;}
          .navFooterIcon{height:45px;}
         }
        @media (min-width:600px) AND (max-width:799px) {
          footer.page-footer .footer-copyright{ height:125px;}
          .navFooterLink{margin:0;}
          .navFooterIcon{height:45px;}
        }
        @media (min-width:480px) AND (max-width:599px) {
          footer.page-footer .footer-copyright{ height:185px;}
          .navFooterLink{margin:0;}
          .navFooterIcon{height:45px;}
        }
        @media (min-width:320px) AND (max-width:479px) {
          footer.page-footer .footer-copyright{ height:185px;}
          .navFooterLink{margin:0;}
          .navFooterIcon{height:45px;}
        }


/*-------------------------------------------------------------------------------*/
