body {
   width: 100%;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {  flex: 1 0 auto;  }
#body_{ background:#e6e6e6; color:#fff;}



/*---------------head pre nav-------------------------*/

.img_logo_head{
   padding:0;
   display: block;
   float:none;
   margin: 10px auto 0px auto;
   background:#fff;
}


#slider_header_car{height:400px!important;}

@media (max-width: 420px) AND (min-width:300px){  #slider_header_car{height:150px!important;}  }
@media (max-width: 600px) AND (min-width:430px) {  #slider_header_car{height:200px!important;}  }
@media (max-width: 800px) AND (min-width:580px) {  #slider_header_car{height:220px!important;}  }
@media (max-width: 1024px) AND (min-width:780px) {  #slider_header_car{height:320px!important;}  }
@media (min-width:1024px) {  #slider_header_car{height:450px!important;}  }

.img_banner1{width: 100%;  height: auto; background: url("../img/banner_header/banner_01.jpg"); background-size:100%; background-repeat: no-repeat; }
.img_banner2{width: 100%;  height: auto; background: url("../img/banner_header/banner_01.jpg"); background-size:100%; background-repeat: no-repeat; }
.img_banner3{width: 100%;  height: auto; background: url("../img/banner_header/banner_01.jpg"); background-size:100%; background-repeat: no-repeat; }
.img_banner4{width: 100%;  height: auto; background: url("../img/banner_header/banner_01.jpg"); background-size:100%; background-repeat: no-repeat; }
.img_banner5{width: 100%;  height: auto; background: url("../img/banner_header/banner_01.jpg"); background-size:100%; background-repeat: no-repeat; }

#prev_header_car{font-size:40px; z-index:1; position:absolute; z-index:1; left:5px; color:#999;}
#next_header_car{font-size:40px; z-index:1; position:absolute; z-index:1; right:5px; color:#999; }
#prev_header_car:hover{ color:#fff; }
#next_header_car:hover{ color:#fff; }




/*----------------nav------------------------*/

nav{ background:#e6e6e6; box-shadow: none; }
nav .nav-wrapper{ background:#e6e6e6;}
nav ul a{ color: #333; }
nav ul li{ width:150px;}
nav ul li a:hover{background:none;}
nav .nav-wrapper .brand-logo{ color: #333; min-width:750px; z-index:99;}
nav .button-collapse{ margin-left: 5px; color: #333; }
nav .nav-wrapper .dropdown-content{ top:64px!important;}
.noMargBot{margin-bottom:0;}
.dropdown-content li>a{text-align: center; color:#333;}
.dropdown-content li>a:hover{ color:#0cc2fe; }
.dropdown-content li:hover{background:none;}
nav .nav-wrapper .dropdown-content{ width:150px!important;}
.iconNavUP{position: relative; top: -38px; left: calc(50% - 5px); color: #fff;  z-index: 99; height: 30px; line-height: 30px; width:30px;}
.iconNavUP i{width:30px!important; height:30px!important; line-height:30px!important;}





/*-----------------------------modal video cont-------------------------*/

.modal_video_cont{ min-width:320px; height:400px; background:#ccc;}
.modal_video_cont img{width:100%; min-height:200px; height:auto; display: block; background:#333;}





/*------------------------footer-------------------------------------*/

footer.page-footer{padding-top:0px; background-color: #333333;}
.navFooterLink{margin-right:10px; padding-left:10px; border-left:1px #fff solid;}
.navFooterLink:nth-child(1){ border:none;}
